RPC_URL=https://virtual.base.eu.rpc.tenderly.co/<YOUR_VIRTUAL_NET_ID>
PRIVATE_KEY=0x<YOUR_PRIVATE_KEY>
ETHERSCAN_API_KEY=<TENDERLY_ACCESS_TOKEN>
VERIFIER_URL=https://virtual.base.eu.rpc.tenderly.co/<YOUR_VIRTUAL_NET_ID>/verify/etherscan
RNBW_TOKEN=0x<RNBW_TOKEN_ADDRESS>
SAFE_ADDRESS=0x<SAFE_ADDRESS>
SIGNER=0x<INITIAL_SIGNER_ADDRESS>
